body {
    background-color: blanchedalmond;
    
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: wheat;
}

div {
    width: 800px;
    height: 800px;
    margin:auto;
    background-color: azure;
    border-radius: 25px;
}