body {
    background-color: blanchedalmond;
     
}

div {
    padding-bottom: 20px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 33%;
    margin-right: 33%;
    border-style: outset;
    border-width: 10px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 33%;
    margin-right: 33%;
    border-style: inset;
}

#chartOne {
    width: 700;
    height: 700px;
    margin: auto;
    background-color: azure;
    border-radius: 25px;
    padding: 10px;
    
}

#chartTwo {
    width: 700px;
    height: 700px;
    margin: auto;
    background-color: azure;
    border-radius: 25px;
    padding: 10px;

}

#footer {
    margin-top: 20px;
    margin-left: 33%;
    margin-right: 33%;
    border-style: dashed;
}